/*Lakesha Trotty*/
/*FingerMonkey.css*/
* {
  margin: 0;
  padding: 0;
}
html {
    background-image: url("../images/tree2.jpg");
    margin-bottom: 75px;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;

  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
		width:  1450px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F4A460;
  }
  .page-header {
    border-bottom: solid black;
  }
  main {
  	padding-left: 10px;
  	padding-right: 10px;
  }
  .navbar {
    background-color: black;
    height: auto;
    width: auto;
  }
#footer p {
    color: green;
}
h3 {
  font-weight: bolder;
}
.page-header h1 small {
  color: green;
}
a:focus, a:hover {
	font-style: italic;
  font-weight: bold;
}
.spider {
  float: left;
  padding-right: 1em;
}
section p {
  padding-bottom: 2em;
margin-left: auto;
}
